<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign-up</title>
  </head>
  <body>
    <h1>Dang ky tai khoan</h1>
    <form method="post">
      <label>Ten day du</label>
      <input type="text" name="name" value="">

      <label>Email</label>
      <input type="text" name="email" value="">

      <label>Ten dang nhap</label>
      <input type="text" name="username" value="">

      <label>Mat khau</label>
      <input type="password" name="password" value="">

      <input type="submit">
      

    </form>
  </body>
</html>
